{% extends "base.html" %}
{% block nav %}
<div class="d-flex gap-2 mt-4">
  <a href="{% url 'todo_list' %}" class="btn btn-secondary">
    Back to list
  </a>
  <a href="{% url 'task_create' %}" class="btn btn-primary">
    Create Task
  </a>
</div>
{% endblock %}
{% block content %}
  <div class="card shadow-sm">
    <div class="card-body">
      <h1 class="card-title mb-3">{{ task.title }}</h1>

      <p class="card-text">
        <strong>Status:</strong> {{ task.get_status_display }}
      </p>

      <p class="card-text">
        <strong>Description:</strong>
        {% if task.description %}
          {{ task.description }}
        {% else %}
          --//--
        {% endif %}
      </p>

      <p class="card-text">
        <strong>Finish date:</strong>
        {% if task.finish_date %}
          {{ task.finish_date }}
        {% else %}
          --//--
        {% endif %}
      </p>

      <div class="d-flex gap-2 mt-4">
        <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">
          Remove
        </a>
      </div>
    </div>
  </div>
{% endblock %}